<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Nodejs</a>

    <div class="collapse navbar-collapse d-flex justify-content-end " id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 ">
        <li class="nav-item dropdown  ">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="url-avatar" src="https://scontent.fsgn5-12.fna.fbcdn.net/v/t39.30808-6/273204782_1223476648182378_287553695691739871_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=TXMSPUi4poUAX9Wx6Hi&_nc_ht=scontent.fsgn5-12.fna&oh=00_AT8FaynyWR9OSxhETmnmxPrw8p95DAO3KlgjZzQZRCfYNQ&oe=623E8B2E" alt="url-avatar">
            Le Dat
          </a>
          <ul class="dropdown-menu " aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="/courses/create">Create course</a></li>
            <li><a class="dropdown-item" href="/me/stored/courses">My course</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>